// this import automatically resolves to ${XDG_CONFIG_HOME}/rofi/config.rasi
// (see section on 'Multiple file handling' in man rofi-theme(5))
@import "config.rasi"

listview {
	lines: 12;
}

prompt {
	enabled: false;
}

