/**
 * @name flat
 * @author lonkaars
 * @version 0
*/

/** this is a lazy theme, do not report bugs */

.theme-darker {

	--app-frame-border: var(--background-primary) !important;
	--background-base-low: var(--background-primary) !important;
	--background-base-lower: var(--background-primary) !important;
	--background-base-lowest: var(--background-primary) !important;
	--card-background-default: var(--background-primary) !important;
	--chat-background-default: var(--background-primary) !important;
	--background-surface-high: var(--background-primary) !important;

	--background-mod-subtle: var(--background-secondary) !important;

	--background-mod-muted: var(--background-tertiary) !important;
	--background-mod-normal: var(--background-tertiary) !important;
	--interactive-background-hover: var(--background-tertiary) !important;
	--interactive-background-selected: var(--background-tertiary) !important;

	--text-default: var(--text-primary) !important;

	/* --ansi-black: #ff00ff !important; */
	/* --ansi-blue: #ff00ff !important; */
	/* --ansi-bright-black: #ff00ff !important; */
	/* --ansi-bright-blue: #ff00ff !important; */
	/* --ansi-bright-cyan: #ff00ff !important; */
	/* --ansi-bright-green: #ff00ff !important; */
	/* --ansi-bright-magenta: #ff00ff !important; */
	/* --ansi-bright-red: #ff00ff !important; */
	/* --ansi-bright-white: #ff00ff !important; */
	/* --ansi-bright-yellow: #ff00ff !important; */
	/* --ansi-cyan: #ff00ff !important; */
	/* --ansi-green: #ff00ff !important; */
	/* --ansi-magenta: #ff00ff !important; */
	/* --ansi-red: #ff00ff !important; */
	/* --ansi-white: #ff00ff !important; */
	/* --ansi-yellow: #ff00ff !important; */
	/* --app-frame-background: #ff00ff !important; */
	/* --app-frame-border: #ff00ff !important; */
	/* --app-message-embed-secondary-text: #ff00ff !important; */
	/* --background-accent: #ff00ff !important; */
	/* --background-brand: #ff00ff !important; */
	/* --background-code-addition: #ff00ff !important; */
	/* --background-code-deletion: #ff00ff !important; */
	/* --background-code: #ff00ff !important; */
	/* --background-feedback-critical: #ff00ff !important; */
	/* --background-feedback-info: #ff00ff !important; */
	/* --background-feedback-notification: #ff00ff !important; */
	/* --background-feedback-positive: #ff00ff !important; */
	/* --background-feedback-warning: #ff00ff !important; */
	/* --background-scrim-lightbox: #ff00ff !important; */
	/* --background-scrim: #ff00ff !important; */
	/* --background-secondary-alt: #ff00ff !important; */
	/* --background-surface-higher: #ff00ff !important; */
	/* --background-surface-highest: #ff00ff !important; */
	/* --background-tile-gradient-pink-end: #ff00ff !important; */
	/* --background-tile-gradient-pink-start: #ff00ff !important; */
	/* --background-voice-muted: #ff00ff !important; */
	/* --badge-background-brand: #ff00ff !important; */
	/* --badge-background-default: #ff00ff !important; */
	/* --badge-common-background: #ff00ff !important; */
	/* --badge-common-border: #ff00ff !important; */
	/* --badge-common-text: #ff00ff !important; */
	/* --badge-epic-background: #ff00ff !important; */
	/* --badge-epic-border-gradient-end: #ff00ff !important; */
	/* --badge-epic-border-gradient-start: #ff00ff !important; */
	/* --badge-epic-text: #ff00ff !important; */
	/* --badge-expressive-background-default: #ff00ff !important; */
	/* --badge-expressive-text-default: #ff00ff !important; */
	/* --badge-mythic-background: #ff00ff !important; */
	/* --badge-mythic-border-gradient-end: #ff00ff !important; */
	/* --badge-mythic-border-gradient-start: #ff00ff !important; */
	/* --badge-mythic-text: #ff00ff !important; */
	/* --badge-notification-background: #ff00ff !important; */
	/* --badge-rare-background: #ff00ff !important; */
	/* --badge-rare-border-gradient-end: #ff00ff !important; */
	/* --badge-rare-border-gradient-start: #ff00ff !important; */
	/* --badge-rare-text: #ff00ff !important; */
	/* --badge-text-brand: #ff00ff !important; */
	/* --badge-text-default: #ff00ff !important; */
	/* --bg-surface-raised: #ff00ff !important; */
	/* --border-feedback-critical: #ff00ff !important; */
	/* --border-feedback-info: #ff00ff !important; */
	/* --border-feedback-positive: #ff00ff !important; */
	/* --border-feedback-warning: #ff00ff !important; */
	/* --border-focus: #ff00ff !important; */
	/* --border-muted: #ff00ff !important; */
	/* --border-normal: #ff00ff !important; */
	/* --border-strong: #ff00ff !important; */
	/* --border-subtle: #ff00ff !important; */
	/* --border-voice-muted: #ff00ff !important; */
	/* --button-danger-background-disabled: #ff00ff !important; */
	/* --button-outline-brand-background-hover: #ff00ff !important; */
	/* --button-outline-brand-border-active: #ff00ff !important; */
	/* --button-outline-primary-text: #ff00ff !important; */
	/* --card-border-default: #ff00ff !important; */
	/* --card-primary-pressed-bg: #ff00ff !important; */
	/* --card-secondary-bg: #ff00ff !important; */
	/* --card-secondary-pressed-bg: #ff00ff !important; */
	/* --channel-background-default: #ff00ff !important; */
	/* --channel-icon: #ff00ff !important; */
	/* --channel-text-area-placeholder: #ff00ff !important; */
	/* --channels-default: #ff00ff !important; */
	/* --channeltextarea-background: #ff00ff !important; */
	/* --chart-brand: #ff00ff !important; */
	/* --chart-categorical-10: #ff00ff !important; */
	/* --chart-categorical-1: #ff00ff !important; */
	/* --chart-categorical-2: #ff00ff !important; */
	/* --chart-categorical-3: #ff00ff !important; */
	/* --chart-categorical-4: #ff00ff !important; */
	/* --chart-categorical-5: #ff00ff !important; */
	/* --chart-categorical-6: #ff00ff !important; */
	/* --chart-categorical-7: #ff00ff !important; */
	/* --chart-categorical-8: #ff00ff !important; */
	/* --chart-categorical-9: #ff00ff !important; */
	/* --chart-mono-1: #ff00ff !important; */
	/* --chart-mono-2: #ff00ff !important; */
	/* --chart-mono-3: #ff00ff !important; */
	/* --chart-mono-4: #ff00ff !important; */
	/* --chart-mono-5: #ff00ff !important; */
	/* --chart-mono-6: #ff00ff !important; */
	/* --chart-mono-7: #ff00ff !important; */
	/* --chart-mono-text-1: #ff00ff !important; */
	/* --chart-mono-text-2: #ff00ff !important; */
	/* --chart-mono-text-3: #ff00ff !important; */
	/* --chart-mono-text-4: #ff00ff !important; */
	/* --chart-mono-text-5: #ff00ff !important; */
	/* --chart-mono-text-6: #ff00ff !important; */
	/* --chart-mono-text-7: #ff00ff !important; */
	/* --chart-negative: #ff00ff !important; */
	/* --chart-neutral: #ff00ff !important; */
	/* --chart-positive: #ff00ff !important; */
	/* --chat-background-default: #ff00ff !important; */
	/* --chat-background: #ff00ff !important; */
	/* --chat-border: #ff00ff !important; */
	/* --chat-text-muted: #ff00ff !important; */
	/* --checkbox-background-active: #ff00ff !important; */
	/* --checkbox-background-default: #ff00ff !important; */
	/* --checkbox-background-hover: #ff00ff !important; */
	/* --checkbox-background-selected-default: #ff00ff !important; */
	/* --checkbox-background-selected-hover: #ff00ff !important; */
	/* --checkbox-border-active: #ff00ff !important; */
	/* --checkbox-border-default: #ff00ff !important; */
	/* --checkbox-border-hover: #ff00ff !important; */
	/* --checkbox-border-selected-default: #ff00ff !important; */
	/* --checkbox-border-selected-hover: #ff00ff !important; */
	/* --checkbox-icon-active: #ff00ff !important; */
	/* --chip-blurple-dark-background: #ff00ff !important; */
	/* --chip-blurple-dark-text: #ff00ff !important; */
	/* --chip-blurple-light-background: #ff00ff !important; */
	/* --chip-blurple-light-text: #ff00ff !important; */
	/* --chip-blurple-medium-background: #ff00ff !important; */
	/* --chip-blurple-medium-text: #ff00ff !important; */
	/* --chip-gray-dark-background: #ff00ff !important; */
	/* --chip-gray-dark-text: #ff00ff !important; */
	/* --chip-gray-light-background: #ff00ff !important; */
	/* --chip-gray-light-text: #ff00ff !important; */
	/* --chip-gray-medium-background: #ff00ff !important; */
	/* --chip-gray-medium-text: #ff00ff !important; */
	/* --chip-green-dark-background: #ff00ff !important; */
	/* --chip-green-dark-text: #ff00ff !important; */
	/* --chip-green-light-background: #ff00ff !important; */
	/* --chip-green-light-text: #ff00ff !important; */
	/* --chip-green-medium-background: #ff00ff !important; */
	/* --chip-green-medium-text: #ff00ff !important; */
	/* --chip-orange-dark-background: #ff00ff !important; */
	/* --chip-orange-dark-text: #ff00ff !important; */
	/* --chip-orange-light-background: #ff00ff !important; */
	/* --chip-orange-light-text: #ff00ff !important; */
	/* --chip-orange-medium-background: #ff00ff !important; */
	/* --chip-orange-medium-text: #ff00ff !important; */
	/* --chip-pink-dark-background: #ff00ff !important; */
	/* --chip-pink-dark-text: #ff00ff !important; */
	/* --chip-pink-light-background: #ff00ff !important; */
	/* --chip-pink-light-text: #ff00ff !important; */
	/* --chip-pink-medium-background: #ff00ff !important; */
	/* --chip-pink-medium-text: #ff00ff !important; */
	/* --chip-purple-dark-background: #ff00ff !important; */
	/* --chip-purple-dark-text: #ff00ff !important; */
	/* --chip-purple-light-background: #ff00ff !important; */
	/* --chip-purple-light-text: #ff00ff !important; */
	/* --chip-purple-medium-background: #ff00ff !important; */
	/* --chip-purple-medium-text: #ff00ff !important; */
	/* --chip-red-dark-background: #ff00ff !important; */
	/* --chip-red-dark-text: #ff00ff !important; */
	/* --chip-red-light-background: #ff00ff !important; */
	/* --chip-red-light-text: #ff00ff !important; */
	/* --chip-red-medium-background: #ff00ff !important; */
	/* --chip-red-medium-text: #ff00ff !important; */
	/* --chip-yellow-dark-background: #ff00ff !important; */
	/* --chip-yellow-dark-text: #ff00ff !important; */
	/* --chip-yellow-light-background: #ff00ff !important; */
	/* --chip-yellow-light-text: #ff00ff !important; */
	/* --chip-yellow-medium-background: #ff00ff !important; */
	/* --chip-yellow-medium-text: #ff00ff !important; */
	/* --collectibles-tab-gradient-center: #ff00ff !important; */
	/* --collectibles-tab-gradient-inner: #ff00ff !important; */
	/* --collectibles-tab-gradient-outer: #ff00ff !important; */
	/* --content-inventory-media-seekbar-container: #ff00ff !important; */
	/* --content-inventory-overlay-text-primary: #ff00ff !important; */
	/* --content-inventory-overlay-text-secondary: #ff00ff !important; */
	/* --context-menu-backdrop-background: #ff00ff !important; */
	/* --control-brand-foreground-new: #ff00ff !important; */
	/* --control-brand-foreground: #ff00ff !important; */
	/* --control-connected-background-active: #ff00ff !important; */
	/* --control-connected-background-default: #ff00ff !important; */
	/* --control-connected-background-hover: #ff00ff !important; */
	/* --control-connected-border-active: #ff00ff !important; */
	/* --control-connected-border-default: #ff00ff !important; */
	/* --control-connected-border-hover: #ff00ff !important; */
	/* --control-connected-icon-active: #ff00ff !important; */
	/* --control-connected-icon-default: #ff00ff !important; */
	/* --control-connected-icon-hover: #ff00ff !important; */
	/* --control-connected-text-active: #ff00ff !important; */
	/* --control-connected-text-default: #ff00ff !important; */
	/* --control-connected-text-hover: #ff00ff !important; */
	/* --control-critical-primary-background-active: #ff00ff !important; */
	/* --control-critical-primary-background-default: #ff00ff !important; */
	/* --control-critical-primary-background-hover: #ff00ff !important; */
	/* --control-critical-primary-border-active: #ff00ff !important; */
	/* --control-critical-primary-border-default: #ff00ff !important; */
	/* --control-critical-primary-border-hover: #ff00ff !important; */
	/* --control-critical-primary-icon-active: #ff00ff !important; */
	/* --control-critical-primary-icon-default: #ff00ff !important; */
	/* --control-critical-primary-icon-hover: #ff00ff !important; */
	/* --control-critical-primary-text-active: #ff00ff !important; */
	/* --control-critical-primary-text-default: #ff00ff !important; */
	/* --control-critical-primary-text-hover: #ff00ff !important; */
	/* --control-critical-secondary-background-active: #ff00ff !important; */
	/* --control-critical-secondary-background-default: #ff00ff !important; */
	/* --control-critical-secondary-background-hover: #ff00ff !important; */
	/* --control-critical-secondary-border-active: #ff00ff !important; */
	/* --control-critical-secondary-border-default: #ff00ff !important; */
	/* --control-critical-secondary-border-hover: #ff00ff !important; */
	/* --control-critical-secondary-icon-active: #ff00ff !important; */
	/* --control-critical-secondary-icon-default: #ff00ff !important; */
	/* --control-critical-secondary-icon-hover: #ff00ff !important; */
	/* --control-critical-secondary-text-active: #ff00ff !important; */
	/* --control-critical-secondary-text-default: #ff00ff !important; */
	/* --control-critical-secondary-text-hover: #ff00ff !important; */
	/* --control-expressive-background-active: #ff00ff !important; */
	/* --control-expressive-background-default: #ff00ff !important; */
	/* --control-expressive-background-hover: #ff00ff !important; */
	/* --control-expressive-border-active: #ff00ff !important; */
	/* --control-expressive-border-default: #ff00ff !important; */
	/* --control-expressive-border-hover: #ff00ff !important; */
	/* --control-expressive-icon-active: #ff00ff !important; */
	/* --control-expressive-icon-default: #ff00ff !important; */
	/* --control-expressive-icon-hover: #ff00ff !important; */
	/* --control-expressive-text-active: #ff00ff !important; */
	/* --control-expressive-text-default: #ff00ff !important; */
	/* --control-expressive-text-hover: #ff00ff !important; */
	/* --control-icon-only-background-active: #ff00ff !important; */
	/* --control-icon-only-background-hover: #ff00ff !important; */
	/* --control-icon-only-border-active: #ff00ff !important; */
	/* --control-icon-only-border-hover: #ff00ff !important; */
	/* --control-icon-only-icon-active: #ff00ff !important; */
	/* --control-icon-only-icon-default: #ff00ff !important; */
	/* --control-icon-only-icon-hover: #ff00ff !important; */
	/* --control-overlay-primary-background-active: #ff00ff !important; */
	/* --control-overlay-primary-background-default: #ff00ff !important; */
	/* --control-overlay-primary-background-hover: #ff00ff !important; */
	/* --control-overlay-primary-border-active: #ff00ff !important; */
	/* --control-overlay-primary-border-default: #ff00ff !important; */
	/* --control-overlay-primary-border-hover: #ff00ff !important; */
	/* --control-overlay-primary-icon-active: #ff00ff !important; */
	/* --control-overlay-primary-icon-default: #ff00ff !important; */
	/* --control-overlay-primary-icon-hover: #ff00ff !important; */
	/* --control-overlay-primary-text-active: #ff00ff !important; */
	/* --control-overlay-primary-text-default: #ff00ff !important; */
	/* --control-overlay-primary-text-hover: #ff00ff !important; */
	/* --control-overlay-secondary-background-active: #ff00ff !important; */
	/* --control-overlay-secondary-background-default: #ff00ff !important; */
	/* --control-overlay-secondary-background-hover: #ff00ff !important; */
	/* --control-overlay-secondary-border-active: #ff00ff !important; */
	/* --control-overlay-secondary-border-default: #ff00ff !important; */
	/* --control-overlay-secondary-border-hover: #ff00ff !important; */
	/* --control-overlay-secondary-icon-active: #ff00ff !important; */
	/* --control-overlay-secondary-icon-default: #ff00ff !important; */
	/* --control-overlay-secondary-icon-hover: #ff00ff !important; */
	/* --control-overlay-secondary-text-active: #ff00ff !important; */
	/* --control-overlay-secondary-text-default: #ff00ff !important; */
	/* --control-overlay-secondary-text-hover: #ff00ff !important; */
	/* --control-primary-background-active: #ff00ff !important; */
	/* --control-primary-background-default: #ff00ff !important; */
	/* --control-primary-background-hover: #ff00ff !important; */
	/* --control-primary-border-active: #ff00ff !important; */
	/* --control-primary-border-default: #ff00ff !important; */
	/* --control-primary-border-hover: #ff00ff !important; */
	/* --control-primary-icon-active: #ff00ff !important; */
	/* --control-primary-icon-default: #ff00ff !important; */
	/* --control-primary-icon-hover: #ff00ff !important; */
	/* --control-primary-text-active: #ff00ff !important; */
	/* --control-primary-text-default: #ff00ff !important; */
	/* --control-primary-text-hover: #ff00ff !important; */
	/* --control-secondary-background-active: #ff00ff !important; */
	/* --control-secondary-background-default: #ff00ff !important; */
	/* --control-secondary-background-hover: #ff00ff !important; */
	/* --control-secondary-border-active: #ff00ff !important; */
	/* --control-secondary-border-default: #ff00ff !important; */
	/* --control-secondary-border-hover: #ff00ff !important; */
	/* --control-secondary-icon-active: #ff00ff !important; */
	/* --control-secondary-icon-default: #ff00ff !important; */
	/* --control-secondary-icon-hover: #ff00ff !important; */
	/* --control-secondary-text-active: #ff00ff !important; */
	/* --control-secondary-text-default: #ff00ff !important; */
	/* --control-secondary-text-hover: #ff00ff !important; */
	/* --creator-revenue-icon-gradient-end: #ff00ff !important; */
	/* --creator-revenue-icon-gradient-start: #ff00ff !important; */
	/* --creator-revenue-info-box-background: #ff00ff !important; */
	/* --creator-revenue-info-box-border: #ff00ff !important; */
	/* --creator-revenue-locked-channel-icon: #ff00ff !important; */
	/* --creator-revenue-progress-bar: #ff00ff !important; */
	/* --datepicker-range-background-default: #ff00ff !important; */
	/* --datepicker-range-background-hover: #ff00ff !important; */
	/* --embed-background-alternate: #ff00ff !important; */
	/* --embed-background: #ff00ff !important; */
	/* --experimental-avatar-embed-bg: #ff00ff !important; */
	/* --expressive-gradient-blue-end: #ff00ff !important; */
	/* --expressive-gradient-blue-start: #ff00ff !important; */
	/* --expressive-gradient-green-end: #ff00ff !important; */
	/* --expressive-gradient-green-start: #ff00ff !important; */
	/* --expressive-gradient-nitro-green-end: #ff00ff !important; */
	/* --expressive-gradient-nitro-green-start: #ff00ff !important; */
	/* --expressive-gradient-nitro-pink-end: #ff00ff !important; */
	/* --expressive-gradient-nitro-pink-start: #ff00ff !important; */
	/* --expressive-gradient-pink-end: #ff00ff !important; */
	/* --expressive-gradient-pink-start: #ff00ff !important; */
	/* --expressive-gradient-purple-end: #ff00ff !important; */
	/* --expressive-gradient-purple-start: #ff00ff !important; */
	/* --expressive-gradient-tenure-badge-bronze-end: #ff00ff !important; */
	/* --expressive-gradient-tenure-badge-bronze-start: #ff00ff !important; */
	/* --expressive-gradient-tenure-badge-diamond-end: #ff00ff !important; */
	/* --expressive-gradient-tenure-badge-diamond-start: #ff00ff !important; */
	/* --expressive-gradient-tenure-badge-emerald-end: #ff00ff !important; */
	/* --expressive-gradient-tenure-badge-emerald-start: #ff00ff !important; */
	/* --expressive-gradient-tenure-badge-gold-end: #ff00ff !important; */
	/* --expressive-gradient-tenure-badge-gold-start: #ff00ff !important; */
	/* --expressive-gradient-tenure-badge-opal-end: #ff00ff !important; */
	/* --expressive-gradient-tenure-badge-opal-start: #ff00ff !important; */
	/* --expressive-gradient-tenure-badge-platinum-end: #ff00ff !important; */
	/* --expressive-gradient-tenure-badge-platinum-start: #ff00ff !important; */
	/* --expressive-gradient-tenure-badge-ruby-end: #ff00ff !important; */
	/* --expressive-gradient-tenure-badge-ruby-start: #ff00ff !important; */
	/* --expressive-gradient-tenure-badge-silver-end: #ff00ff !important; */
	/* --expressive-gradient-tenure-badge-silver-start: #ff00ff !important; */
	/* --gradient-progress-pill-background: #ff00ff !important; */
	/* --guild-profile-banner-background-default: #ff00ff !important; */
	/* --home-background: #ff00ff !important; */
	/* --icon-default: #ff00ff !important; */
	/* --icon-feedback-critical: #ff00ff !important; */
	/* --icon-feedback-info: #ff00ff !important; */
	/* --icon-feedback-notification: #ff00ff !important; */
	/* --icon-feedback-positive: #ff00ff !important; */
	/* --icon-feedback-warning: #ff00ff !important; */
	/* --icon-invert: #ff00ff !important; */
	/* --icon-link: #ff00ff !important; */
	/* --icon-muted: #ff00ff !important; */
	/* --icon-overlay-dark: #ff00ff !important; */
	/* --icon-overlay-light: #ff00ff !important; */
	/* --icon-status-dnd: #ff00ff !important; */
	/* --icon-status-idle: #ff00ff !important; */
	/* --icon-status-offline: #ff00ff !important; */
	/* --icon-status-online: #ff00ff !important; */
	/* --icon-strong: #ff00ff !important; */
	/* --icon-subtle: #ff00ff !important; */
	/* --icon-transparent: #ff00ff !important; */
	/* --icon-voice-connected: #ff00ff !important; */
	/* --icon-voice-disconnected: #ff00ff !important; */
	/* --icon-voice-muted: #ff00ff !important; */
	/* --icon-voice-speaking: #ff00ff !important; */
	/* --inlinenotice-border-critical: #ff00ff !important; */
	/* --inlinenotice-border-info: #ff00ff !important; */
	/* --inlinenotice-border-positive: #ff00ff !important; */
	/* --inlinenotice-border-warning: #ff00ff !important; */
	/* --input-background-default: #ff00ff !important; */
	/* --input-background-error-default: #ff00ff !important; */
	/* --input-border-active: #ff00ff !important; */
	/* --input-border-default: #ff00ff !important; */
	/* --input-border-error-default: #ff00ff !important; */
	/* --input-border-hover: #ff00ff !important; */
	/* --input-border-readonly: #ff00ff !important; */
	/* --input-icon-default: #ff00ff !important; */
	/* --input-placeholder-text-default: #ff00ff !important; */
	/* --input-text-default: #ff00ff !important; */
	/* --input-text-error-default: #ff00ff !important; */
	/* --interactive-accent-background-active: #ff00ff !important; */
	/* --interactive-accent-background-default: #ff00ff !important; */
	/* --interactive-accent-background-hover: #ff00ff !important; */
	/* --interactive-accent-background-selected: #ff00ff !important; */
	/* --interactive-background-active: #ff00ff !important; */
	/* --interactive-background-hover: #ff00ff !important; */
	/* --interactive-icon-active: #ff00ff !important; */
	/* --interactive-icon-default: #ff00ff !important; */
	/* --interactive-icon-hover: #ff00ff !important; */
	/* --interactive-muted: #ff00ff !important; */
	/* --interactive-text-active: #ff00ff !important; */
	/* --interactive-text-default: #ff00ff !important; */
	/* --interactive-text-hover: #ff00ff !important; */
	/* --keyword-highlight-background: #ff00ff !important; */
	/* --logo-primary: #ff00ff !important; */
	/* --mention-background: #ff00ff !important; */
	/* --mention-foreground: #ff00ff !important; */
	/* --message-automod-background-default: #ff00ff !important; */
	/* --message-automod-background-hover: #ff00ff !important; */
	/* --message-background-hover: #ff00ff !important; */
	/* --message-highlight-background-default: #ff00ff !important; */
	/* --message-highlight-background-hover: #ff00ff !important; */
	/* --message-mentioned-background-default: #ff00ff !important; */
	/* --message-mentioned-background-hover: #ff00ff !important; */
	/* --mobile-background-scrim-opaque: #ff00ff !important; */
	/* --mobile-expression-picker-background-default: #ff00ff !important; */
	/* --mobile-guildbar-icon-default: #ff00ff !important; */
	/* --mobile-searchbar-gradient-background: #ff00ff !important; */
	/* --mobile-text-heading-primary: #ff00ff !important; */
	/* --modal-background: #ff00ff !important; */
	/* --modal-footer-background: #ff00ff !important; */
	/* --navigator-header-tint: #ff00ff !important; */
	/* --nitro-tab-gradient-center: #ff00ff !important; */
	/* --nitro-tab-gradient-inner-ring: #ff00ff !important; */
	/* --nitro-tab-gradient-outer-ring: #ff00ff !important; */
	/* --notice-background-critical: #ff00ff !important; */
	/* --notice-background-info: #ff00ff !important; */
	/* --notice-background-positive: #ff00ff !important; */
	/* --notice-background-warning: #ff00ff !important; */
	/* --notice-text-critical: #ff00ff !important; */
	/* --notice-text-info: #ff00ff !important; */
	/* --notice-text-positive: #ff00ff !important; */
	/* --notice-text-warning: #ff00ff !important; */
	/* --overlay-backdrop-lightbox: #ff00ff !important; */
	/* --panel-bg: #ff00ff !important; */
	/* --polls-normal-image-background: #ff00ff !important; */
	/* --polls-victor-fill: #ff00ff !important; */
	/* --polls-voted-fill: #ff00ff !important; */
	/* --premium-nitro-pink-text: #ff00ff !important; */
	/* --profile-gradient-note-background: #ff00ff !important; */
	/* --profile-gradient-overlay-synced-with-user-theme: #ff00ff !important; */
	/* --profile-gradient-overlay: #ff00ff !important; */
	/* --profile-gradient-role-pill-background: #ff00ff !important; */
	/* --profile-gradient-role-pill-border: #ff00ff !important; */
	/* --profile-gradient-section-box: #ff00ff !important; */
	/* --progressbar-indicator-background: #ff00ff !important; */
	/* --progressbar-track-background: #ff00ff !important; */
	/* --quest-home-tab-gradient-blurple-center: #ff00ff !important; */
	/* --quest-home-tab-gradient-blurple-inner: #ff00ff !important; */
	/* --quest-home-tab-gradient-blurple-outer: #ff00ff !important; */
	/* --radio-background-active: #ff00ff !important; */
	/* --radio-background-default: #ff00ff !important; */
	/* --radio-background-hover: #ff00ff !important; */
	/* --radio-background-selected-default: #ff00ff !important; */
	/* --radio-background-selected-hover: #ff00ff !important; */
	/* --radio-border-active: #ff00ff !important; */
	/* --radio-border-default: #ff00ff !important; */
	/* --radio-border-hover: #ff00ff !important; */
	/* --radio-border-selected-default: #ff00ff !important; */
	/* --radio-border-selected-hover: #ff00ff !important; */
	/* --radio-foreground-active: #ff00ff !important; */
	/* --radio-foreground-default: #ff00ff !important; */
	/* --radio-foreground-hover: #ff00ff !important; */
	/* --radio-thumb-background-active: #ff00ff !important; */
	/* --reaction-background-active: #ff00ff !important; */
	/* --reaction-background-default: #ff00ff !important; */
	/* --reaction-background-hover: #ff00ff !important; */
	/* --reaction-background-reacted-default: #ff00ff !important; */
	/* --reaction-background-reacted-hover: #ff00ff !important; */
	/* --reaction-border-active: #ff00ff !important; */
	/* --reaction-border-default: #ff00ff !important; */
	/* --reaction-border-hover: #ff00ff !important; */
	/* --reaction-border-reacted-default: #ff00ff !important; */
	/* --reaction-text-active: #ff00ff !important; */
	/* --reaction-text-default: #ff00ff !important; */
	/* --reaction-text-hover: #ff00ff !important; */
	/* --reaction-text-reacted-default: #ff00ff !important; */
	/* --redesign-button-premium-primary-pink-for-gradient: #ff00ff !important; */
	/* --redesign-button-premium-primary-pressed-background: #ff00ff !important; */
	/* --redesign-button-premium-primary-purple-for-gradient-2: #ff00ff !important; */
	/* --redesign-button-premium-primary-purple-for-gradient: #ff00ff !important; */
	/* --redesign-button-tertiary-background: #ff00ff !important; */
	/* --redesign-button-tertiary-pressed-background: #ff00ff !important; */
	/* --redesign-button-tertiary-pressed-text: #ff00ff !important; */
	/* --redesign-button-tertiary-text: #ff00ff !important; */
	/* --scrollbar-auto-scrollbar-color-thumb: #ff00ff !important; */
	/* --scrollbar-auto-scrollbar-color-track: #ff00ff !important; */
	/* --scrollbar-auto-thumb: #ff00ff !important; */
	/* --scrollbar-auto-track: #ff00ff !important; */
	/* --scrollbar-thin-thumb: #ff00ff !important; */
	/* --scrollbar-thin-track: #ff00ff !important; */
	/* --slider-track-background: #ff00ff !important; */
	/* --spine-default: #ff00ff !important; */
	/* --spoiler-hidden-background-hover: #ff00ff !important; */
	/* --spoiler-hidden-background: #ff00ff !important; */
	/* --spoiler-revealed-background: #ff00ff !important; */
	/* --standard-tab-gradient-center: #ff00ff !important; */
	/* --standard-tab-gradient-inner-ring: #ff00ff !important; */
	/* --standard-tab-gradient-outer-ring: #ff00ff !important; */
	/* --status-danger: #ff00ff !important; */
	/* --status-online: #ff00ff !important; */
	/* --status-positive-background: #ff00ff !important; */
	/* --status-positive-text: #ff00ff !important; */
	/* --status-positive: #ff00ff !important; */
	/* --status-speaking: #ff00ff !important; */
	/* --status-warning-background: #ff00ff !important; */
	/* --status-warning-text: #ff00ff !important; */
	/* --status-warning: #ff00ff !important; */
	/* --steam-review-text-mixed: #ff00ff !important; */
	/* --steam-review-text-negative: #ff00ff !important; */
	/* --steam-review-text-positive: #ff00ff !important; */
	/* --switch-background-active: #ff00ff !important; */
	/* --switch-background-default: #ff00ff !important; */
	/* --switch-background-hover: #ff00ff !important; */
	/* --switch-background-selected-default: #ff00ff !important; */
	/* --switch-background-selected-hover: #ff00ff !important; */
	/* --switch-border-default: #ff00ff !important; */
	/* --switch-border-hover: #ff00ff !important; */
	/* --switch-border-selected-default: #ff00ff !important; */
	/* --switch-border-selected-hover: #ff00ff !important; */
	/* --switch-thumb-background-default: #ff00ff !important; */
	/* --switch-thumb-background-selected-default: #ff00ff !important; */
	/* --switch-thumb-icon-active: #ff00ff !important; */
	/* --switch-thumb-icon-default: #ff00ff !important; */
	/* --text-brand: #ff00ff !important; */
	/* --text-code-addition: #ff00ff !important; */
	/* --text-code-attribute: #ff00ff !important; */
	/* --text-code-builtin: #ff00ff !important; */
	/* --text-code-bullet: #ff00ff !important; */
	/* --text-code-comment: #ff00ff !important; */
	/* --text-code-decorator: #ff00ff !important; */
	/* --text-code-deletion: #ff00ff !important; */
	/* --text-code-error: #ff00ff !important; */
	/* --text-code-escape: #ff00ff !important; */
	/* --text-code-keyword: #ff00ff !important; */
	/* --text-code-link: #ff00ff !important; */
	/* --text-code-namespace: #ff00ff !important; */
	/* --text-code-number: #ff00ff !important; */
	/* --text-code-operator: #ff00ff !important; */
	/* --text-code-property: #ff00ff !important; */
	/* --text-code-regexp: #ff00ff !important; */
	/* --text-code-section: #ff00ff !important; */
	/* --text-code-string: #ff00ff !important; */
	/* --text-code-tag: #ff00ff !important; */
	/* --text-code-title: #ff00ff !important; */
	/* --text-code-type: #ff00ff !important; */
	/* --text-code-variable: #ff00ff !important; */
	/* --text-code: #ff00ff !important; */
	/* --text-feedback-critical: #ff00ff !important; */
	/* --text-feedback-info: #ff00ff !important; */
	/* --text-feedback-positive: #ff00ff !important; */
	/* --text-feedback-warning: #ff00ff !important; */
	/* --text-invert: #ff00ff !important; */
	/* --text-link: #ff00ff !important; */
	/* --text-muted: #ff00ff !important; */
	/* --text-overlay-dark: #ff00ff !important; */
	/* --text-overlay-light: #ff00ff !important; */
	/* --text-status-dnd: #ff00ff !important; */
	/* --text-status-idle: #ff00ff !important; */
	/* --text-status-offline: #ff00ff !important; */
	/* --text-status-online: #ff00ff !important; */
	/* --text-strong: #ff00ff !important; */
	/* --text-subtle: #ff00ff !important; */
	/* --text-voice-connected: #ff00ff !important; */
	/* --text-voice-disconnected: #ff00ff !important; */
	/* --text-voice-speaking: #ff00ff !important; */
	/* --textbox-markdown-syntax: #ff00ff !important; */
	/* --thread-channel-spine: #ff00ff !important; */
	/* --user-profile-activity-toolbar-background: #ff00ff !important; */
	/* --user-profile-background-hover: #ff00ff !important; */
	/* --user-profile-border: #ff00ff !important; */
	/* --user-profile-note-background-focus: #ff00ff !important; */
	/* --user-profile-overlay-background-hover: #ff00ff !important; */
	/* --user-profile-overlay-background: #ff00ff !important; */
	/* --user-profile-toolbar-background: #ff00ff !important; */
	/* --user-profile-toolbar-border: #ff00ff !important; */
}

