/**
 * @name MinimalCord
 * @author Gibbu#1211
 * @version 1.0.0
 * @description Changes Discord enough to give it a fresh feel while also making it darker. Supports both Light and Dark themes.
 * @source https://github.com/Gibbu/BetterDiscord-Themes/tree/master/MinimalCord
 * @website https://www.gibbu.me
 */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url("https://gibbu.github.io/BetterDiscord-Themes/MinimalCord/base.css");

/* Black Box user tags */
@import url('https://monstrousdev.github.io/themes/addons/user-tags.css');

:root {
	/* --accent: 233, 86, 120; DEFAULT: 22, 188, 249 */
	--chat-avatar-size: 48px; /* Changes size of chat avatars | DEFAULT: 40px */
	--search-results-width: 25vw; /* Width of server results. For a fixed width use px. | DEFAULT: 25vw */
	--emoji-picker-height: 260px; /* Height of Emoji picker | DEFAULT: 260px */
	--font: 'JetBrainsMono NF';
}

.theme-dark {
	--background-light: var(--pywal-bg2) !important;
	--background: var(--pywal-bg0) !important;
	--background-alt: var(--pywal-bg1) !important;
	--background-dark: var(--pywal-serverside) !important;

	--text-normal: var(--pywal-color7);
	--text-muted: var(--pywal-color8);
	--text-focus: var(--pywal-color15);

	--foreground-1: var(--background) !important;
	--background-primary: var(--background) !important;

	--box-shadow: 0;
}

.da-attachWrapper, .da-buttons {
	width: 0;
	overflow: hidden;
}

.da-channelTextArea {
	margin-top: 0 !important;
	margin-bottom: 8px !important;
}

.da-form {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.da-username {
	filter: saturate(0.4) brightness(1.5);
}

.da-itemCard > div > div {
	background: var(--background-secondary) !important;
}

.da-channelTextArea > div {
	box-shadow: none !important;
	background: var(--foreground-1) !important;
}

.da-form::before {
	background: transparent !important;
}

.da-nowPlayingColumn {
	background: var(--background-1) !important;
}

.da-videoControls {
	margin: 0px !important;
}

.da-privateChannelsHeaderContainer .da-numberBadge.da-base {
	background-color: rgb(var(--accent)) !important;
	color: var(--pywal-bg0) !important;
}

.da-circleIcon,
.da-circleIconButton {
	color: rgb(var(--accent)) !important;
}

section.da-container > .da-children > .da-tabBar > .da-item:not(.da-themed),
.bd-guild .da-item,
.da-tutorialContainer .da-pill .da-item {
	background-color: rgb(var(--accent)) !important;
	color: var(--pywal-bg0) !important;
}

.da-actionButton {
	background-color: transparent !important;
}

.da-peopleColumn .da-peopleListItem {
	border: 0 !important;
}

.da-app .da-base .da-content .da-container {
	background: var(--background) !important;
}

