/**
 * @name pywal
 * @author Loekaars#8205
 * @version 1.0.0
 * @description Cool beans
*/

:root {
	--pywal-shade0: #11161D;
	--pywal-shade1: #151B23;
	--pywal-shade2: #171D26;
	--pywal-shade3: #181F29;
	--pywal-shade4: #0F1E32;

	--accent: 92, 92, 108;

	--pywal-serverside: #121416;
	--pywal-serverfolder-transparent: hsla(210, 9.1%, 7.8%, 0.75);

	--pywal-bg0: #141618;
	--pywal-bg1: #181A1D;
	--pywal-bg2: #1C1F22;
	--pywal-bg3: #202326;

	--pywal-color0: #141618;
	--pywal-color1: #071831;
	--pywal-color2: #171823;
	--pywal-color3: #0c2039;
	--pywal-color4: #1e1f2a;
	--pywal-color5: #212633;
	--pywal-color6: #2b2b34;
	--pywal-color7: #c4c4c5;
	--pywal-color8: #4e5051;
	--pywal-color9: #071831;
	--pywal-color10: #171823;
	--pywal-color11: #0c2039;
	--pywal-color12: #1e1f2a;
	--pywal-color13: #212633;
	--pywal-color14: #2b2b34;
	--pywal-color15: #c4c4c5;

	--pywal-readable-color0: #656D75;
	--pywal-readable-color1: #2960B1;
	--pywal-readable-color2: #5A5D80;
	--pywal-readable-color3: #3064A4;
	--pywal-readable-color4: #5C5E79;
	--pywal-readable-color5: #555F7A;
	--pywal-readable-color6: #5C5C6C;
	--pywal-readable-color7: #C4C4C5;
	--pywal-readable-color8: #4E5051;
	--pywal-readable-color9: #2960B1;
	--pywal-readable-color10: #5A5D80;
	--pywal-readable-color11: #3064A4;
	--pywal-readable-color12: #5C5E79;
	--pywal-readable-color13: #555F7A;
	--pywal-readable-color14: #5C5C6C;
	--pywal-readable-color15: #C4C4C5;

	--pywal-readableOn-color0: #c4c4c5;
	--pywal-readableOn-color1: #c4c4c5;
	--pywal-readableOn-color2: #c4c4c5;
	--pywal-readableOn-color3: #c4c4c5;
	--pywal-readableOn-color4: #c4c4c5;
	--pywal-readableOn-color5: #c4c4c5;
	--pywal-readableOn-color6: #c4c4c5;
	--pywal-readableOn-color7: #141618;
	--pywal-readableOn-color8: #c4c4c5;
	--pywal-readableOn-color9: #c4c4c5;
	--pywal-readableOn-color10: #c4c4c5;
	--pywal-readableOn-color11: #c4c4c5;
	--pywal-readableOn-color12: #c4c4c5;
	--pywal-readableOn-color13: #c4c4c5;
	--pywal-readableOn-color14: #c4c4c5;
	--pywal-readableOn-color15: #141618;
}