/**
 * @name pywal
 * @author Loekaars#8205
 * @version 1.0.0
 * @description Cool beans
*/

:root {
	--pywal-shade0: #272620;
	--pywal-shade1: #2F2D27;
	--pywal-shade2: #33312A;
	--pywal-shade3: #37352D;
	--pywal-shade4: #3D3728;

	--accent: 179, 161, 140;

	--pywal-serverside: #171717;
	--pywal-serverfolder-transparent: hsla(120, 2%, 9%, 0.75);

	--pywal-bg0: #191A19;
	--pywal-bg1: #1E1F1E;
	--pywal-bg2: #232423;
	--pywal-bg3: #282A28;

	--pywal-color0: #191a19;
	--pywal-color1: #61543e;
	--pywal-color2: #565d34;
	--pywal-color3: #536063;
	--pywal-color4: #6b6543;
	--pywal-color5: #7c807e;
	--pywal-color6: #b3a18c;
	--pywal-color7: #c5c5c5;
	--pywal-color8: #525352;
	--pywal-color9: #61543e;
	--pywal-color10: #565d34;
	--pywal-color11: #536063;
	--pywal-color12: #6b6543;
	--pywal-color13: #7c807e;
	--pywal-color14: #b3a18c;
	--pywal-color15: #c5c5c5;

	--pywal-readable-color0: #6A6D6A;
	--pywal-readable-color1: #61543E;
	--pywal-readable-color2: #565D34;
	--pywal-readable-color3: #536063;
	--pywal-readable-color4: #6B6543;
	--pywal-readable-color5: #7C807E;
	--pywal-readable-color6: #B3A18C;
	--pywal-readable-color7: #C5C5C5;
	--pywal-readable-color8: #525352;
	--pywal-readable-color9: #61543E;
	--pywal-readable-color10: #565D34;
	--pywal-readable-color11: #536063;
	--pywal-readable-color12: #6B6543;
	--pywal-readable-color13: #7C807E;
	--pywal-readable-color14: #B3A18C;
	--pywal-readable-color15: #C5C5C5;

	--pywal-readableOn-color0: #c5c5c5;
	--pywal-readableOn-color1: #c5c5c5;
	--pywal-readableOn-color2: #c5c5c5;
	--pywal-readableOn-color3: #c5c5c5;
	--pywal-readableOn-color4: #c5c5c5;
	--pywal-readableOn-color5: #c5c5c5;
	--pywal-readableOn-color6: #191a19;
	--pywal-readableOn-color7: #191a19;
	--pywal-readableOn-color8: #c5c5c5;
	--pywal-readableOn-color9: #c5c5c5;
	--pywal-readableOn-color10: #c5c5c5;
	--pywal-readableOn-color11: #c5c5c5;
	--pywal-readableOn-color12: #c5c5c5;
	--pywal-readableOn-color13: #c5c5c5;
	--pywal-readableOn-color14: #191a19;
	--pywal-readableOn-color15: #191a19;
}