* {
	background-color: #31232233;
	text-color: #cbc8c7;
	spacing: 0;
	width: 720px;
}

inputbar {
	border: 0 0 1px 0;
	children: [prompt, entry];
}

prompt {
	padding: 16px;
}

textbox {
	background-color: #312322;
	border-color: #312322;
	padding: 8px 16px;
}

entry {
	padding: 16px;
}

listview {
	cycle: false;
	margin: 0 0 -1px 0;
	scrollbar: false;
}

element {
	padding: 16px;
}

element selected {
	background-color: #bed5fb;
	text-color: #312322;
}