* {
	background-color: #1c1c1c33;
	text-color: #c6c6c6;
	spacing: 0;
	width: 720px;
}

inputbar {
	border: 0 0 1px 0;
	children: [prompt, entry];
}

prompt {
	padding: 16px;
}

textbox {
	background-color: #1c1c1c;
	border-color: #1c1c1c;
	padding: 8px 16px;
}

entry {
	padding: 16px;
}

listview {
	cycle: false;
	margin: 0 0 -1px 0;
	scrollbar: false;
}

element {
	padding: 16px;
}

element selected {
	background-color: #e4b695;
	text-color: #1c1c1c;
}