{{- $host := dig "mpd" "host" false . -}}
{{- $base_dir := dig "mpd" "base_dir" "/mnt/mpd" . -}}

{{- $music_directory := "https://media.pipeframe.xyz/music" -}}
{{- if $host -}}
{{- $music_directory = printf "%s/music" $base_dir -}}
{{- end -}}
{{- with (dig "mpd" "music_dir" nil .)  -}}
{{- $music_directory = . -}}
{{- end -}}

{{- $playlist_directory := "{{ $base_dir }}/playlists" }}
{{- with (dig "mpd" "playlist_dir" nil .)  -}}
{{- $playlist_directory = . -}}
{{- end -}}

music_directory "{{ $music_directory }}"
playlist_directory "{{ $playlist_directory }}"

pid_file "{{ $base_dir }}/mpd.pid"
state_file "{{ $base_dir }}/mpdstate"
{{- if $host }}
db_file "{{ $base_dir }}/mpd.db"
{{- end }}

bind_to_address "{{ ternary "*" "0.0.0.0" $host }}"
port "6600"
restore_paused "yes"
{{- if $host }}
auto_update "yes"
user "{{ .chezmoi.username }}"
group "{{ .chezmoi.group }}"
default_permissions "read,add,control,admin"
{{- end }}

replaygain "track"
replaygain_preamp "6"
{{- if not $host }}

database {
	plugin "proxy"
	host "pipeframe.xyz"
}
{{- end }}

{{- $default_output_type := "" }}
{{- if eq .chezmoi.os "darwin" }}
{{- $default_output_type = "osx" }}
{{- else if eq .chezmoi.os "linux" }}
{{- $default_output_type = "pulse" }}
{{- end }}
{{- with $default_output_type }}

audio_output {
	type "{{ $default_output_type }}"
	name "desktop output"
	mixer_type "software"
}
{{- end }}

input_cache {
	size "512 MB"
}
