snippet newhtml "HTML Starting Point"
<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>${1:Page Title}</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel='stylesheet' type='text/css' media='screen' href='${2:style.css}'>
	<script src='${3:script.js}'></script>
</head>
<body>
	${0}
</body>
</html>
endsnippet
