snippet newdocument "Starting point for a new LaTeX document"
\\documentclass[12pt, a4paper]{article}
\\setlength{\\marginparwidth}{2.54cm}

\\usepackage[margin=1in]{geometry}
\\usepackage{fullpage}

\\bigskipamount=7mm
\\medskipamount=4mm
\\parindent=0mm

\\begin{document}
${0}
\\end{document}
endsnippet

snippet beg "begin{} / end{}" bA
\\begin{$1}
	$0
\\end{$1}
endsnippet

