:root {
	--pywal-shade0: #2A2C2D;
	--pywal-shade1: #323536;
	--pywal-shade2: #36393B;
	--pywal-shade3: #3B3E3F;
	--pywal-shade4: #383F41;

	--pywal-bg0: #1C1C1C;
	--pywal-bg1: #222222;
	--pywal-bg2: #272727;
	--pywal-bg3: #2D2D2D;

	--pywal-color0: #1c1c1c;
	--pywal-color1: #616c71;
	--pywal-color2: #7f8485;
	--pywal-color3: #9099ba;
	--pywal-color4: #c79c95;
	--pywal-color5: #9fc0c8;
	--pywal-color6: #e4b695;
	--pywal-color7: #c6c6c6;
	--pywal-color8: #545454;
	--pywal-color9: #616c71;
	--pywal-color10: #7f8485;
	--pywal-color11: #9099ba;
	--pywal-color12: #c79c95;
	--pywal-color13: #9fc0c8;
	--pywal-color14: #e4b695;
	--pywal-color15: #c6c6c6;

	--pywal-readable-color0: #6B6B6B;
	--pywal-readable-color1: #616C71;
	--pywal-readable-color2: #7F8485;
	--pywal-readable-color3: #9099BA;
	--pywal-readable-color4: #C79C95;
	--pywal-readable-color5: #9FC0C8;
	--pywal-readable-color6: #E4B695;
	--pywal-readable-color7: #C6C6C6;
	--pywal-readable-color8: #545454;
	--pywal-readable-color9: #616C71;
	--pywal-readable-color10: #7F8485;
	--pywal-readable-color11: #9099BA;
	--pywal-readable-color12: #C79C95;
	--pywal-readable-color13: #9FC0C8;
	--pywal-readable-color14: #E4B695;
	--pywal-readable-color15: #C6C6C6;

	--pywal-readableOn-color0: #c6c6c6;
	--pywal-readableOn-color1: #c6c6c6;
	--pywal-readableOn-color2: #1c1c1c;
	--pywal-readableOn-color3: #1c1c1c;
	--pywal-readableOn-color4: #1c1c1c;
	--pywal-readableOn-color5: #1c1c1c;
	--pywal-readableOn-color6: #1c1c1c;
	--pywal-readableOn-color7: #1c1c1c;
	--pywal-readableOn-color8: #c6c6c6;
	--pywal-readableOn-color9: #c6c6c6;
	--pywal-readableOn-color10: #1c1c1c;
	--pywal-readableOn-color11: #1c1c1c;
	--pywal-readableOn-color12: #1c1c1c;
	--pywal-readableOn-color13: #1c1c1c;
	--pywal-readableOn-color14: #1c1c1c;
	--pywal-readableOn-color15: #1c1c1c;
}