:root {
	--color0:  #0f1419;
	--color1:  #ff3f4f;
	--color2:  #81f900;
	--color3:  #ffd945;
	--color4:  #45a1ed;
	--color5:  #ef47c5;
	--color6:  #19d1e5;
	--color7:  #f8f8f0;
	--color8:  #495162;
	--color9:  #f95c76;
	--color10: #7dfc5a;
	--color11: #f9ce70;
	--color12: #6395f2;
	--color13: #ea79fc;
	--color14: #88f0fc;
	--color15: #fffff4;
}

html, body {
	margin: 0;
	padding: 0;
	background: var(--color0);
	color: var(--color15);
	font-family: "JetBrainsMono Nerd Font";
}

* {
	cursor: normal;
	user-select: none;
}

h1 {
	margin: 0;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	white-space: nowrap;
}

.term {
	width: 500px;
	padding: 16px;
	position: relative;
}

.term::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #0d1216;
	z-index: -2;
	border-radius: 8px;
}

h3 {
	font-size: 14px;
	font-weight: 800;
	margin: 0 0 8px 0;
}

.columns {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.columns .column {
	display: inline-block;
}

.columns .column * {
	display: block;
}

a {
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
	color: var(--color15);
	position: relative;
	padding: 0;
	transition: padding .3s;
}

a:hover {
	padding-left: 15px;
}

a::before {
	content: '>';
	position: absolute;
	left: -20px;
	opacity: 0;
	transform: scaleX(0);
	transition-property: left, transform, opacity;
	transition-duration: .3s;
}

a:hover::before {
	left: 0px;
	transform: scaleX(1);
	opacity: 1;
}
