:root {
	--color0:  #fdf9f7;
	--color1:  #8c627a;
	--color2:  #628c6e;
	--color3:  #8c8b62;
	--color4:  #626b8c;
	--color5:  #6e628c;
	--color6:  #62808c;
	--color7:  #121213;
	--color8:  #ffffff;
	--color9:  #725063;
	--color10: #50725a;
	--color11: #727250;
	--color12: #505872;
	--color13: #5a5072;
	--color14: #506872;
	--color15: #393b3b;
}

html, body {
	margin: 0;
	padding: 0;
	background: var(--color0);
	color: var(--color15);
	font-family: "JetBrainsMono Nerd Font";
}

* {
	cursor: normal;
	user-select: none;
}

h1 {
	margin: 0;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	white-space: nowrap;
}

