[Unit]
Description=Mailbox synchronization service

[Service]
Type=oneshot
ExecStart=/usr/bin/mbsync --verbose --all --config "${XDG_CONFIG_HOME}/mbsyncrc"

