/* hide shit */
#alltabs-button,
#appMenu-fxa-status2,
#appMenu-fxa-separator,
#fullscreen-warning,
.findbar-highlight
{ display: none !important; }

/* undo shit */
#urlbar,
#searchbar
{ font-size: unset !important; }

/* make shit compact */
body { font-size: 10pt; }
.tab-background { margin-block: 0 !important; }
#TabsToolbar { --toolbarbutton-inner-padding: 8px; }
:root { --tab-min-height: 24px !important; }
.tab-label-container {
	height: unset !important;
	margin-right: var(--toolbarbutton-inner-padding);
}

.tabbrowser-tab
{ padding: 0 !important; }

.tab-background,
#TabsToolbar .toolbarbutton-1 > .toolbarbutton-icon
{ border-radius: 0 !important; }

#nav-bar,
#navigator-toolbox
{ border: none !important; }

